<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">

    <!-- ROS2 Control -->
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="rotor1_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rotor2_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rotor3_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="rotor4_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <!-- Gazebo plugin -->

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_namespace>/drone</robot_namespace>
            <control_config_file>$(find my_robot_pkg)/config/drone_controller.yaml</control_config_file>
        </plugin>
    </gazebo>

</robot>